.header-outer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
}

.header-box{
    text-align: center;
    color: #607178;
    /*background-color: rgba(0,0,0,0.3);*/
}